/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100%;
}

 #confetti-canvas {
   z-index: 1000;
 }

 h1, h2, h3, h4, h5, h6 {
   color: #d2d2d2;
 }

.norows {
  text-align: center;
  font-style: italic;
}

div.logo::after {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  content: "Quizzy";
  font-size: 20vmin;
  position: fixed;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  color: #d2d2d2;
  text-shadow: 5px 5px 30px black;
  margin-top: 36px;
}

.td-toolbar {
  text-align: right;
}
